
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>
<ul class="list-unstyled">
    <li><a href="/admin/users">Manage Users</a></li>
    <li><a href="/admin/tag">Manage Tags</a></li>
    <li><a href="/admin/tag/CreateTagRelations">Manage Tag Relationship</a></li>
    
</ul>
